trigger:
- main

resources:
- repo: self

variables:
  - group: "CICD2"
  - name: app_var
    value: $[variables.appVariable]
  - name: acrUsername
    value: $[variables.appVariable]
  - name: acrPassword
    value: $[variables.appVariable]
parameters:
  - name: tag
    default: "$(Build.BuildId)"
  - name: imageName
    default: "public-api"

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool: local-agent

    steps:
    - script: |
        echo "var=$(app_var)"
        echo "tag=${{ parameters.tag }}"
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        repository: ${{ parameters.imageName }}
        dockerfile: '**/qa.dockerfile'
        tags: ${{ parameters.tag }}
        arguments: '--build-arg APP_ENV=$(app_var)'
        containerRegistry: 'registryConnection'

    - task: Docker@2
      displayName: Push
      inputs:
        command: push
        containerRegistry: 'registryConnection'
        repository: ${{ parameters.imageName }}
        tags: ${{ parameters.tag }}

  - job: Deploy
    displayName: Deploy
    dependsOn: Build
    pool: local-agent
    steps: 
      - script: echo "Deploying..."
      - task: AzureContainerApps@1
        inputs:
          azureSubscription: registryConnection
          imageToDeploy: acrapps2.azurecr.io/${{ parameters.imageName }}:${{ parameters.tag }}

          containerAppName: app-public-api-carlos
          resourceGroup: RG-Terraform

          acrUsername: $(acrUsername)
          acrPassword: $(acrPassword)


